h1 {font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #460000;
text-transform: uppercase;
}

p {
    text-align: justify;
    text-indent: 10px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0px;
}

a {
    text-decoration: none;
}